<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Virtual European Air Force - VEAF tools</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css"
          integrity="sha512-P5MgMn1jBN01asBgU0z60Qk4QxiXo86+wlFahKrsQf37c9cro517WzVSPPV1tDKzhku2iJ2FVgL67wG03SGnNA=="
          crossorigin="anonymous"/>
    <link rel="icon" type="image/ico" href="/img/favicon.ico"/>        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
            integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.6.0/umd/popper.min.js"
            integrity="sha512-BmM0/BQlqh02wuK5Gz9yrbe7VyIVwOzD1o40yi1IsTjriX/NGF37NyXHfmFzIlMmoSIBXgqDiG1VNU6kB5dBbA=="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/notify.min.js"
            integrity="sha512-efUTj3HdSPwWJ9gjfGR71X9cvsrthIA78/Fvd/IN+fttQVy7XWkOAXb295j8B3cmm/kFKVxjiNYzKw9IQJHIuQ=="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"
            integrity="sha512-2ImtlRlf2VVmiGZsjm9bEyhjGW4dU7B6TNwh/hx/iSByxNENtj3WVE6o/9Lj4TJeVXPi4bnOIMXFIJJAeufa0A=="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css"
          integrity="sha512-nMNlpuaDPrqlEls3IX/Q56H36qvBASwb3ipuo3MxeWbsQB1881ox0cRv7UPTgBlriqoynt35KjEwgGUeUXIPnw=="
          crossorigin="anonymous"/>
    <script src="/bundles/tetranzselect2entity/js/select2entity.js"></script>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/@ttskch/select2-bootstrap4-theme@x.x.x/dist/select2-bootstrap4.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/cerulean/bootstrap.min.css" integrity="sha384-3fdgwJw17Bi87e1QQ4fsLn4rUFqWw//KU0g8TvV6quvahISRewev6/EocKNuJmEw" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/custom.css">
</head>
<body>

{% block navBar %}
<div class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
    <div class="container">
        <a href="/" class="navbar-brand" title="v1.11.1">
            <img src="https://cdn.veaf.org/website/dev/img/site-logo.png" class="logo-navbar">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav">

                <li class="nav-item ">
                    <a href="/kneeboard" class="nav-link"
                       title="kneeboard">
                        <span class="fa fa-wrenc"></span>
                        <span class="d-lg-none d-xl-inline">Kneeboard</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock navBar %}

{% block main %}
<div id="main">
    {% block content %}
    <div class="container container-main pt-3 pb-3 mb-3">
        <div class="row">
            <div class="col-lg-12">
                <p class="text-center">placeholder</p>
            </div>
        </div>
    </div>
    {% endblock content %}

    <div class="modal" id="remoteModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content" id="remoteModalContent">
            </div>
        </div>
    </div>
</div>
{% endblock main %}

{% block footer %}
<footer id="footer">
    <div class="row mb-2">
        <div class="col-lg-12 text-center">
            Sauf précision contraire, le contenu de ce site est mis à disposition selon les termes<br>
            de la
            <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/fr/">
                Licence Creative Commons Attribution - Pas d’Utilisation Commerciale - Partage dans les
                Mêmes Conditions 3.0 France.
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            © 2004 - 2021 VEAF
        </div>
        <div class="col-sm-6">
            &nbsp;
        </div>
        <div class="col-sm-3 text-right">
            Virtual European Air Force
        </div>
    </div>
</footer>
{% endblock footer %}

</body>
</html>
