<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Virtual European Air Force - VEAF tools</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/kneeboard.css">
</head>
<body>

{% block main %}
<div id="main">
    {% block content %}
        <p class="text-center">placeholder</p>
    {% endblock content %}
</div>
{% endblock main %}

</body>
</html>
